.home_route_component_container {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .game_board_container {
    display: flex;
    margin: $margin_large 0 0;
    align-items: center;
    justify-content: center;

    .game_board {
      display: grid;
      grid-template-rows: 25px 25px 25px;
      grid-template-columns: 25px 25px 25px;
      column-gap: 5px;
      row-gap: 5px;

      @include breakpoint(medium) {
        grid-template-rows: 50px 50px 50px;
        grid-template-columns: 50px 50px 50px;
      }

      @include breakpoint(large) {
        grid-template-rows: 50px 50px 50px;
        grid-template-columns: 50px 50px 50px;
      }

      @include breakpoint(wide) {
        grid-template-rows: 50px 50px 50px;
        grid-template-columns: 50px 50px 50px;
      }

      .game_board_box {
        display: flex;
        cursor: pointer;
        border: 1px solid;
        justify-content: center;
        align-items: center;

        &:hover {
          color: $color_white;
          background-color: $color_green;
        }
      }
    }
  }

  .header_message_container {
    display: flex;
    margin: $margin_medium 0;
    font-size: 36px;
    color: $color_green;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
    }

    span {
      color: $color_jet;
    }

    @include breakpoint(large) {
      font-size: 60px;
    }

    @include breakpoint(wide) {
      font-size: 60px;
    }
  }

  .pagination_box_container {
    display: flex;
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 300px;
    margin: 0 0 $margin_large;
    overflow: scroll;
    border: 1px solid $color_green;

    @include breakpoint(large) {
      min-width: 500px;
      max-width: 500px;
      min-height: 100%;
      max-height: 100%;
    }

    @include breakpoint(wide) {
      min-width: 500px;
      max-width: 500px;
      min-height: 100%;
      max-height: 100%;
    }
  }
}
