.game_board_container {
  display: flex;
  align-items: center;
  justify-content: center;

  .game_board {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    column-gap: 5px;
    row-gap: 5px;

    @include breakpoint(medium) {
      grid-template-rows: 150px 150px 150px;
      grid-template-columns: 150px 150px 150px;
    }

    @include breakpoint(large) {
      grid-template-rows: 150px 150px 150px;
      grid-template-columns: 150px 150px 150px;
    }

    @include breakpoint(wide) {
      grid-template-rows: 150px 150px 150px;
      grid-template-columns: 150px 150px 150px;
    }


    .game_board_box {
      cursor: pointer;
      border: 1px solid;

      &:hover {
        background-color: $color_blue_primary;
      }
    }
  }
}
